<h1>Computers</h1>
<% @computers.each do |computer| %>
	<%=computer.enviroment%>, <%= computer.name %> <%=link_to "stats",action: 'show', id:computer.id%> <%=link_to "edit",action: 'edit', id:computer.id%> <%=link_to "delete", computer, method: :delete%><br/>
<%end%>
