<h1>Computers</h1>
<hr>
<div class="container">
	<div class="row">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>Enviroment</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @computers.each do |computer| %>
					<tr>
						<td><%=computer.enviroment%></td> 
						<td><%= computer.name %></td>
						<td width="50"><%=link_to "show",action: 'show', id:computer.id%></td>
						<td width="50"><%=link_to "edit", controller: 'computer', action: 'edit', id: computer.id%></td>
						<td width="50"><%=link_to "delete", computer, method: :delete%></td>
					</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>

	

