<h1><%=@computer.name%></h1>
<hr>
<div class="container">
	<div class="row">
		<div class="span7">
			<fieldset>
				<legend>Accounts(<%=@computer.account.size%>)</legend>
				<table class="table">
					<thead>
						<tr>
							<th>Domain</th>
							<th>Username</th>
							<th>Tracking</th>
							<th>Allotted Time</th>
						</tr>
					</thead>
					<tbody>
						<%@computer.account.each do |account|%>
						<tr>
							<td><%=account.domain%></td>
							<td><%=link_to(account.username, action: 'show', controller: 'account', id:account.id)%></td>
							<td><%=account.tracking%></td>
							<td><%=account.allotted_time%></td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</fieldset>
		</div>
		<span class="span4">
			<fieldset>
				<legend>Web History</legend>
			</fieldset>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Url</th>
					</tr>
				</thead>
				<tbody>
					<%@computer.history.each do |history|%>
					<tr>
						<td><%=history.title%></td>
						<td><%=link_to(history.url, history.url)%></td>
					</tr>
					<%end%>
				</tbody>
			</table>
		</span>
	</div>
</div>
