<h1>Edit Computer Account: <%=@account.username%></h1>

<%= form_for @account, :url=>{:action =>'update', :id => @account.id} do |f|%>
	<%=f.label :computer_id, "Associated Computer:"%>
	
	<select id="account_computer_id" name="account[computer_id]">
		<%current_user.computer.each do |computer|%>
			<%if computer.id == @account.computer_id%>
			<option SELECTED value="<%=computer.id%>"><%=computer.name%></option>
			<%else%>
			<option value="<%=computer.id%>"><%=computer.name%></option>
			<%end%>
		<%end%>
	</select>
	<br/>

	<%=f.label :domain%>
	<%=f.text_field :domain%><br/>

	<%=f.label :username%>
	<%=f.text_field :username%><br/>

	<%=f.label :allotted_time%>
	<%=f.text_field :allotted_time%><br/>

	<%=f.label :tracking%>
	<%=f.check_box :tracking%><br/>

	<%=f.submit "Save"%> <%= link_to 'Delete', @account, method: :delete%>
<%end%>