<!DOCTYPE html>
<html>
<head>
  <title>CompULockWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<nav class="navbar-inner">
			<div class="container">
				<%= render 'layouts/navigation' %>
			</div>
		</nav>
	</header>
	<div id="main" role="main">
		<%= render 'layouts/messages' %>
		<div class="container">
        	<div class="content">
           		<div class="row">
            		<div class="span12">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
	        <hr>
	        <div class="row">
	          <div class="span3">
	            <p class="muted credit">Brought to you by</p>Comp-u-Lock
	          </div>
	        </div>
	      </div>
	</footer>
</body>
</html>
